<div class="rounded box-shadow" style="background:#f1f1f1;">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3 pt-3 pb-2 mb-0">
    <h5 class="line_title">用户</h5>
    <div class="btn-toolbar mb-2 mb-md-0 bg-white">
      <a class="btn btn-sm btn-outline-secondary" href=<%=new_admin_user_path%>>
        <i class="fa fa-user-plus"></i>
        添加用户
      </a>
    </div>
  </div>

  <div class="card border-top-0">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.username, edit_admin_user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.master %></td>
          <td>
            <div class="btn-group mr-2">
              <a class="btn btn-sm btn-outline-secondary" href=<%=edit_admin_user_path(user)%>>修改</a>
              <a class="btn btn-sm btn-outline-secondary" href=<%=admin_user_path(user)%> data-method="DELETE">删除</a>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>